* {
    background-color: black;
    color: black;
    text-align: center;
}
body {
    background-color: gray;
    margin: 0; /* removes default margins from body */
}
#stickyheader {
    background-color: green;
    border: 2px solid red;
    padding: 10px;
}
nav {
    background-color: yellow;
    border: 2px solid red;
    text-align: center;
    width: auto;
    overflow: auto; /* prevents container from collapsing on ul float */
}
nav ul { /* contains the ul bullets */
    border: 2px solid red;
    background-color: white;
    float: left; /* moves ul to the left of nav */
    width: 25%
}
nav ul li{ /* contains the list strings */
    border: 2px solid red;
    font-size: 1em;
    text-decoration: none;
    background-color: white;
    display: inline-block; /* displays list horizonally */
    margin: 0 10% 0 10%; /* sets space between strings */
}
.main {
    display: inline-block;
    background-color: blue;
    border: 2px solid red;
    width: 60%;
    margin: 0 0 -5px 0; /* top margin ensures that top of lower container does not initially hide behind header */
    overflow: auto; /* keeps parent container from collapsing on left and right floats */
    padding: 10px;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    z-index: 999;
}
.sticky + .main {
    padding-top: 198px;
}
footer {
    border: 2px solid red;
    background-color: purple;
    padding: 10px;
}
h1 {
    border: 2px solid red;
    background-color: white;
    padding: 10px;
}
h2 {
    border: 2px solid red;
    background-color: white;
    padding: 10px;
}
p {
    border: 2px solid red;
    background-color: white;
    padding: 10px;
}
#left {
    border: 2px solid red;
    background-color: orange;
    float: left;
    width: 45%;
    padding: 10px;
    margin: 0 5px 0 5px;
}
#right {
    border: 2px solid red;
    background-color: teal;
    float: left;
    width: 45%;
    padding: 10px;
    margin: 0 5px 0 5px;
}
